<div class="projects">
    <h6><span>Skills used:</span> Core JAVA, MYSQL DATABASE, HTML, CSS, ANGULAR..</h6>
    <p><span>D</span>eveloped a Bus booking concept using core java and Msql database...</p>
   <p> <span>D</span>eveloped a food and beverage ordering web page using HTML 5 and CSS3.</p>
   <p><span>C</span>reated a profile landing page using HTML5 and CSS3.</p>
    <p><span>Click here..</span><a href="https://travelprem.000webhostapp.com/">https://travelprem.000webhostapp.com/</a></p>
   <p> <span>C</span>reate product management system with CRUD operation in Angular.</p>
</div>
