<div class="projects">
    <h6><span>Skills used:</span> Core JAVA, MYSQL DATABASE, HTML, CSS, ANGULAR..</h6>
    <p><span>D</span>eveloped a Bus booking concept using core java and Msql database...
    <a href="https://github.com/prempravin2023/javaBusReservation"><span>View Src</span></a></p>
   <p> <span>D</span>eveloped a Travel Planning and hotel booking website 
    page using ANGULAR.<a href="https://prempravin2023.github.io/travelstatic/"><span>View Site</span> </a></p>
  
 
   <p> <span>C</span>reate product management system with CRUD operation in Angular.</p>
</div>
