
<div class="skills">
    <p><span>G</span>ood thinking in logical programming.</p>
   <p> <span>G</span>ood knowledge in oops.</p>
   <p><span>K</span>nowledge to handle the exceptions.</p>
   <p> <span>H</span>ave a knowledge in jdbc.</p>
    <p><span>P</span>roficient in Html,Css,Javascript.</p>
    <p><span>F</span>amilarity with responsive design principles.</p>
    <p><span>A</span>bility to work collabratively with clints and team members.</p>
    <p><span>D</span>eveloping user-facing application using angular.</p>
    <p><span>B</span>asic knowledge in Core PHP.</p>
</div>
