<!doctype html>
<html>
<head>

<title>
prem kumar
</title>
</head>
<body class="container">

<section class="banner">
<article class="article1">

<img src="assets\prem.jpg" class="profile">
<h1 class="name"><span>PREM</span></h1>
<ul class="list" >

<li><a routerLink="home"   (click)="slide()">HOME</a></li>
<li><a routerLink="skills"  (click)="slide()">SKILLS</a></li>
<li><a routerLink="projects" (click)="slide()">PROJECTS</a></li>
<li><a routerLink="internship"  (click)="slide()">INTERNSHIP</a></li>
<li><a routerLink="about"  (click)="slide()">ABOUT</a></li>
<li><a routerLink="contact" (click)="slide()">CONTACT</a></li>
</ul>

<div class="img">
<a href="https://www.facebook.com/prempravin.prempravin?mibextid=ZbWKwL"> <img src="assets\facebook.png"> </a>
<a href="https://www.instagram.com/prempravin003?igsh=ZGprb2w4NnBwOWln"> <img src="assets\inst.png">     </a>
<a href="https://x.com/PremPravin6?t=SeOuI9385T6RSSku4wkujw&s=09"> <img src="assets\twit.png">     </a>

</div>

</article>
<article id="article2" [class]="cover">

<router-outlet></router-outlet>


</article>

</section>








</body>
</html>
